#quote-carousel {
	padding: 0 10px 30px 10px;
	/*margin-top: 60px;*/
	margin-top: 30px;
}
#quote-carousel .carousel-control {
	background: none;
	color: #CACACA;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}
#quote-carousel .carousel-indicators {
	position: relative;
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-top: 20px;
	float: left;
	min-height: 130px;
	/*margin-right: -19px;*/
}
#quote-carousel .carousel-indicators li {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	opacity: 0.4;
	overflow: hidden;
	transition: all .4s ease-in;
	vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
	/*width: 128px;
	height: 128px;*/
	width: auto;
	height: auto;
	opacity: 1;
	transition: all .2s;
}
#quote-carousel .carousel-indicators li img {
	display: block;
}
#quote-carousel .carousel-item blockquote {
	border-left: none;
	margin: 0;
}
#quote-carousel .carousel-item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}
@media (min-width: 576px) {
	#quote-carousel .testimonial{
		min-height: 145px;
	}
}
@media (max-width: 768px) {
	#quote-carousel .carousel-indicators{
		margin: 1rem 0;
	}
	#quote-carousel .testimonial{
		min-height: 265px;
	}
}

@media (min-width: 992px) {
	#quote-carousel .testimonial{
		min-height: 145px;
	}
}

@media (min-width: 1200px) {
	#quote-carousel .testimonial{
		min-height: 100px;
	}
}