
 #myBtn-scroll {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #eb7c26;
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /*padding: 15px;*/
  border-radius: 4px;
}

#myBtn-scroll:hover {
  background-color: #555;
}

/* EDGE mentors */
.cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  border: 0;
}
.cnt-block{ 
  float:left; 
  width:100%; 
  background:#fff; 
  padding:30px 20px; 
  text-align:center; 
  border:2px solid #d5d5d5;
  margin: 0 0 28px;
}
.cnt-block h3{ 
  color:#2a2a2a; 
  font-size:20px; 
  font-weight:500; 
  padding:6px 0;
  text-transform:uppercase;
}
.cnt-block p{ 
  color:#2a2a2a; 
  font-size:13px; 
  line-height:20px; 
  font-weight:400;
}
/* EDGE gallery */
.gal {
  float: left;
  padding: 8px;
  display: none; 
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
.btn.active {
  background-color: #e97c26;
  color: white;
}
.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}
.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(2, 2, 2, 0.3);
  content: '';
  transition: 0.4s;
}
.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}
/* journey */
#team .card {
  border: none;
  /*background: #ffffff;*/
}
.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
  border: solid #e7592a;
  width: 324px;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
  min-height: 312px;
}
.frontside .card .card-body img {
  width: auto;
  height: auto;
  /*border-radius: 50%;*/
}
#team {
  background: #eee !important;
}
/*EDGE testimonial start */
.quote {
  color: rgba(0,0,0,.1);
  text-align: center;
  margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #fd7e14;
  /*background-color: #e84a64;*/
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
  font-size: 20px;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /*border-radius: 100px;*/
}
/* testimonial end */
/* whatsapp icon */
.social-icons { position: fixed; left: 20px;/*right: 20px;*/ bottom: 20px; }
.btn-social { cursor: pointer; width: 65px; height: 65px; border-radius: 50px; }
p a {
  text-decoration: none !important;
}
.featured-bg-container {
  padding: 3rem 3rem 3rem;
}
.featured-bg-container {
  color: #eee;
  background: linear-gradient(45deg, rgba(35, 36, 37, 0.59) 25%, rgba(40, 50, 74, 0.3) 25%, rgba(60, 61, 62, 0.35) 90%, rgba(45, 52, 66, 0.7) 90%), linear-gradient(-45deg, rgba(85, 86, 88, 0.28) 30%, rgba(29, 29, 39, 0.41) 30%, rgba(58, 58, 88, 0.26) 60%, rgba(33, 40, 84, 0.03) 60%, rgba(57, 57, 58, 0.64) 60%);
  background-color: #48494a;
  /*color: #eee;
    background: linear-gradient(45deg, rgba(35, 36, 37, 0.59) 25%, rgba(40, 50, 74, 0.3) 25%, rgba(60, 61, 62, 0.35) 90%, rgba(45, 52, 66, 0.7) 90%), linear-gradient(-45deg, rgba(85, 86, 88, 0.28) 30%, rgba(29, 29, 39, 0.41) 30%, rgba(58, 58, 88, 0.26) 60%, rgba(33, 40, 84, 0.03) 60%, rgba(57, 57, 58, 0.64) 60%);
    background-color: #48494a;*/
  }
  .btn-rotate {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #ea7c26;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 50%;
    border: double 4px #ffffff;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .6s;
  }
  .btn-rotate:hover{
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
    background-color: #524f4c !important;
    border-color: #ffffff;
    color: #ffffff;
  }
  .valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /*# sourceMappingURL=bootstrap.css.map */
  .blink_me{-webkit-animation-name:blinker;color:green !important;-webkit-animation-duration:1s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:infinite;-moz-animation-name:blinker;-moz-animation-duration:2s;-moz-animation-timing-function:linear;-moz-animation-iteration-count:infinite;animation-name:blinker;animation-duration:2s;animation-timing-function:linear;animation-iteration-count:infinite;}
  @-moz-keyframes blinker{0%{opacity:1.0;}
  50%{opacity:0.0;}
  100%{opacity:1.0;}
}
@-webkit-keyframes blinker{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}
@keyframes blinker{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}

@media (min-width: 768px) {
  .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
  }
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -40px;
  left: 0;
  z-index: 15;
  /*display: -ms-flexbox;*/
  display: flex;
  /*-ms-flex-pack: center;*/
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.blog .carousel-indicators .active {
  background: #e97c26;
  /*background: #707070;*/
}
}
.inf-name{
  margin-top: 0.5rem;
  /*margin-top: 1rem;*/
  font-size: 20px;
  font-weight: 500;
  color: #fd7e14;
}
.des-name{
  font-size: 14px;
  color:  #5a5a5a;
  font-weight: 500;
}
.blog-img{
  border-radius: 4px;
}
.request {
  bottom: -15px;
  left: 50%;
  position: absolute;
  margin-left: -110px;
}
.get-started {
  background: none repeat scroll 0 0 #475059;
  /*background: none repeat scroll 0 0 #cc2127;*/
  color: #ffffff;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 18px;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.4), 0 0px 30px 0 rgba(0,0,0,0.19);
}
.get-started h2 {
  padding-top: 30px;
  margin-bottom: 20px;
}
.request h4 {
  /*position: absolute;*/
  width: auto;
  /*width: 220px;*/
  position: relative;
}
.center h2 {
  font-size: 36px;
  margin-top: 0;
  /*margin-bottom: 20px;*/
}
.request h4 a {
  background: #ffffff;
  /*background: #E66425;*/
  color: #475059;
  /*color: #fff;*/
  font-size: 18px;
  /*font-size: 14px;*/
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 15px;
  border: solid 1px #475059;
  /*border: solid 1px #cc2127;*/
}
.request h4:before {
  /*border-color: #cc2127 transparent transparent;*/
  border-color: #475059 transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  /*left: -6px;*/
  left: -11px;
  position: absolute;
  z-index: -99999;
}
.request h4:after {
  /*border-color: #cc2127 transparent transparent;*/
  border-color: #475059 transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  position: absolute;
  /*right: -6px;*/
  right: -11px;
  z-index: -99999;
}
.bg-gr {
  background-color: #f7941d !important;
  /*background-color: #e8662e !important;*/
  /*background-color: #6ebdfd !important;*/
}
.bg-gr1 a h5{
  color: #ffffff !important;
  text-decoration: none !important;
}
.bg-gr1 a{
  /*color: #ffffff !important;*/
  text-decoration: none !important;
}
.bg-gr1 {
  background-color: #808285 !important;
  /*background-color: #39393c !important;*/
  /*background-color: #534afe !important;*/
}
.bx{
  /*width: 420px !important;*/
  height: 226px !important;
}

.btn-link:hover {
  color: #868e96;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}
.w3-card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.p-card{
  padding-bottom: 2rem !important;
}
.img-orange-shadow:hover {
  box-shadow: 0 0px 20px 0 rgba(236, 148, 32, 0.73), 0 0px 30px 0 rgba(239, 218, 69, 0.42);
}
.img-hover-shadow:hover {
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.4), 0 0px 30px 0 rgba(0,0,0,0.19);
}
.card-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.bulletnav{
  width:16px;
  height:16px;
}
@media only screen and (max-width:768px) { 
  .bulletnav {display: none;}
}

@media only screen and (max-width:768px) { 
.btn-sm {width: 100%; padding: 0px; /*font-size: 0.8rem;*/ /*font-size: 4.25em;*/ }
}
/* tap target */
li a{line-height:1.8;}
@media(min-width:60em)
{li a{line-height:1.2;}}
/* tap target */
.disp{
  display:none !important;
}
small,.small {
  font-size:65%!important;
  font-weight:340!important
}

@media (min-width: 992px) {
  .modal-lg {
    max-width:100%!important
  }
}

.modal-popup {
  padding:0!important;
  margin:0!important
}

.modal-popup button {
  position:absolute;
  left:96%;
  top:2%;
  color:#000
}

.modal-btn1 {
  position:absolute;
  top:88%;
  left:32%;
  background-color:#FF9800;
  color:#fff!important
}

.modal-btn2 {
  position:absolute;
  top:88%;
  left:48%;
  background-color:#FF9800;
  color:#fff!important
}

.modal {
  text-align:center
}

@media screen and (min-width: 768px) {
  .modal:before {
    display:inline-block;
    vertical-align:middle;
    content:" ";
    height:100%
  }
}

.modal-dialog {
  display:inline-block;
  text-align:left;
  vertical-align:middle
}

.slide1 {
  position:relative;
  margin:0 auto;
  top:0;
  left:0;
  width:1349px;
  height:512px;
  overflow:hidden;
  visibility:hidden
}

.load {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  background-color:rgba(0,0,0,0.7)
}

.spin1 {
  margin-top:-19px;
  position:relative;
  top:50%;
  width:38px;
  height:38px
}

.slide2 {
  cursor:default;
  position:relative;
  top:0;
  left:0;
  width:1349px;
  height:512px;
  overflow:hidden
}

.bull {
  position:absolute;
  bottom:12px;
  right:12px
}

.pos {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}

td a {
  color:#435061;
  text-decoration:none
}

.breadcrumb {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding:.75rem 1rem;
  margin-bottom:1rem;
  list-style:none;
  font-size:15px;
  background-color:#f9fafb;
  border-radius:.25rem
}

.container-fluid {
  width:100%;
  margin-right:auto;
  margin-left:auto
}

.row {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-left:-15px
}

.breadcrumb-item + .breadcrumb-item::before {
  display:inline-block;
  padding-right:.5rem;
  padding-left:.5rem;
  color:#868e96;
  content:">>"!important
}

.dropdown:hover .dropdown-content {
  display:block
}

ul.dropdown-content.agile_short_dropdown {
  padding:0;
  background:none;
  box-shadow:none;
  padding-left:3em;
  border:none
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color:#f1f1f1;
  min-width:225px;
  /*min-width:200px;*/
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
  z-index:1
}

.dropdown-content li {
  list-style-type:none;
  text-align:left
}

.dropdown:hover .dropdown-content {
  display:block
}

ul.dropdown-menu {
  background:#f7f4f4!important;
  box-shadow:0 0 0;
  border:none;
  top:3.7em;
  position: absolute;
  left:0!important;
  min-width:205px;
  /*min-width:200px;*/
  right:0!important;
  padding:.5em 0!important;
  text-indent:1px
}

h5.title-w3 {
  font-size:28px!important;
  text-transform:uppercase!important;
  text-align:center;
  margin-bottom:1em
}

section h2.section-heading {
  margin-top:0;
  margin-bottom:25px;
  font-size:40px
}

h2.section-heading {
  line-height:54px;
  font-weight:300
}

.section-heading {
  border-bottom:1px solid #fd7e14;
  display:inline-block
}

.boxed {
  height:200px
}

.block {
  text-align:center;
  white-space:nowrap
}

.block:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle;
  margin-right:-.25em
}

.centered {
  display:inline-block;
  vertical-align:middle;
  width:300px
}

.post-data-left {
  text-align:center
}

.post-month,.post-heart,.post-heart i {
  color:#bdc3c7;
  font-size:18px;
  text-transform:uppercase;
  display:block
}

.post-date {
  color:#bdc3c7;
  font-size:28px;
  display:block;
  line-height:.8;
  padding-bottom:20px;
  border-bottom:1px solid #95a5a6;
  margin-bottom:20px
}

.post-data-right {
  border-left:1px solid #95a5a5
}

h1.title-blog {
  font-size:24px;
  margin-top:0;
  line-height:28px;
  font-family:'montserratlight','Helvetica','Arial','sans-serif'
}

.post-excerpt {
  min-height:110px
}

.blogs {
  background-color:#fafafa
}

.card-wrapper {
  box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}

.program-card {
  margin:20px auto;
  width:310px;
  max-width:310px
}

body {
  color:#5a5a5a
}

@media (max-width: 768px) {
  h1 {
    font-size:1.8rem
  }
}

.mi {
  min-height:55vh
}

.details i {
  color:#fd7e14!important;
  font-size:25px
}

i.fa.fa-mobile-phone,i.fa.fa-map-marker i.fa.fa-globe {
  font-size:1.6em;
  bottom:-.09em;
  position:relative;
  padding-left:.1em
}

.list-unstyled li {
  margin-bottom:10px
}

.masthead {
  min-height:40px;
  padding:.5rem 1.6rem;
  color:#848484;
  background-color:#fd7e14
}

.masthead i {
  color:#fff
}

.masthead .nav-link {
  padding:0 1rem
}

.navbar {
  margin-top:-1px;
  -webkit-box-shadow:0 8px 6px -6px #999;
  -moz-box-shadow:0 8px 6px -6px #999;
  box-shadow:0 8px 6px -6px #999
}

.navbar-nav .nav-link:hover,.navbar-nav .nav-link:focus {
  color:#fd7e14!important
}

.navbar-nav .nav-link.active {
  color:#fd7e14!important
}

.navbar-nav li.active a {
  color:#fd7e14!important
}

.navbar .dropdown .nav-item {
  border-bottom:1px solid #efeaea
}

.bg-orange2 {
  background-color:#F15A24!important
}

.bg-orange {
  background-color:#ff9a02!important
}

.bg-yellow {
  background-color:#fd7e14!important
}

.bg-blue {
  background-color:#17a2b8!important
}

.bg-yel {
  background-color:#ffc107!important
}

.bg-black {
  background-color:#000!important
}

.bg-grey {
  background-color:#8e8b8b!important
}

.bg-grey1 {
  background-color:#f2f2f2!important
}

.text-yellow {
  color:#fd7e14!important
}

.text-white {
  color:#FFF!important;
  text-decoration:none!important
}

.text-black {
  color:#000!important
}

.text-grey {
  color:#8e8b8b!important
}

.divider {
  display:-webkit-box;
  display:flex;
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-flex:0;
  flex:0 1 0;
  color:#929daf;
  font-size:11px;
  letter-spacing:.5px;
  line-height:0;
  margin-bottom:1rem;
  width:25%
}

.content-middle {
  margin:0 auto 1rem
}

.divider::before,.divider::after {
  content:'';
  font-size:11px;
  -webkit-box-flex:1;
  flex-grow:1
}

.b-y::before {
  border-top:2px solid #fd7e14
}

.b-y::after {
  border-top:2px solid #8e8b8b
}

.b-w::before,.b-w::after {
  border-top:2px solid #FFF
}

.divider-vertical {
  margin-top:10px;
  height:20px;
  border-right:1px dashed
}

.fs-11 {
  font-size:30px!important;
  padding-bottom:18px
}

.btn-warning {
  color:#FFF;
  background-color:#fd7e14!important
}

.btn-warning:hover {
  color:#FFF;
  background-color:#f3740a!important;
  border-color:#d39e00
}

@media (min-width: 768px) {
  #carouselExample .carousel-inner .active,#carouselExample .carousel-inner .active + .carousel-item,#carouselExample .carousel-inner .active + .carousel-item + .carousel-item,#carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display:block
  }

  #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),#carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,#carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,#carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    transition:none
  }

  #carouselExample .carousel-inner .carousel-item-next,#carouselExample .carousel-inner .carousel-item-prev {
    position:relative;
    transform:translate3d(0,0,0)
  }

  #carouselExample .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position:absolute;
    top:0;
    right:-25%;
    z-index:-1;
    display:block;
    visibility:visible
  }

  #carouselExample .active.carousel-item-left + .carousel-item-next.carousel-item-left,#carouselExample .carousel-item-next.carousel-item-left + .carousel-item,#carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,#carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position:relative;
    transform:translate3d(-100%,0,0);
    visibility:visible
  }

  #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    display:block;
    visibility:visible
  }

  #carouselExample .active.carousel-item-right + .carousel-item-prev.carousel-item-right,#carouselExample .carousel-item-prev.carousel-item-right + .carousel-item,#carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,#carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,#carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position:relative;
    transform:translate3d(100%,0,0);
    visibility:visible;
    display:block;
    visibility:visible
  }
}

.zoom-box {
  overflow:hidden;
  width:100%
}

.zoom {
  background-position:center;
  transition:all 1s ease;
  -moz-transition:all 1s ease;
  -ms-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  -o-transition:all 1s ease
}

.zoom:hover {
  transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.5,M12=0,M21=0,M22=1.5,SizingMethod='auto expand')";
  filter:progid:DXImageTransform.Microsoft.Matrix(M11=1.5,M12=0,M21=0,M22=1.5,SizingMethod='auto expand')
}

.card-header h4 {
  white-space:normal!important
}

.jssorl-009-spin img {
  animation-name:jssorl-009-spin;
  animation-duration:1.6s;
  animation-iteration-count:infinite;
  animation-timing-function:linear
}

@keyframes jssorl-009-spin {
  from {
    transform:rotate(0deg)
  }

  to {
    transform:rotate(360deg)
  }
}

.jssorb051 .i {
  position:absolute;
  cursor:pointer
}

.jssorb051 .i .b {
  fill:#ea1b1b;
  fill-opacity:.5
}

.jssorb051 .i:hover .b {
  fill-opacity:.7
}

.jssorb051 .iav .b {
  fill-opacity:1
}

.jssorb051 .i.idn {
  opacity:.3
}

.jssora051 {
  display:block;
  position:absolute;
  cursor:pointer
}

.jssora051 .a {
  fill:none;
  stroke:#fff;
  stroke-width:360;
  stroke-miterlimit:10
}

.jssora051:hover {
  opacity:.8
}

.jssora051.jssora051dn {
  opacity:.5
}

.jssora051.jssora051ds {
  opacity:.3;
  pointer-events:none
}

.slide_menu_up {
  display:none;
  width:15%
}

.slider {
  width:1000px;
  height:auto;
  border:0 solid #3F0;
  margin:0 auto
}

.sliders {
  width:100%;
  background:#f2f2f2;
  overflow:hidden;
  box-shadow:inset 0 0 3px 0 rgba(0,0,0,.05);
  margin-top:-2px
}

img {
  border:none
}

@-webkit-keyframes vertical {
  0% {
    -webkit-transform:translate(0,-3px);
    transform:translate(0,-3px)
  }

  4% {
    -webkit-transform:translate(0,3px);
    transform:translate(0,3px)
  }

  8% {
    -webkit-transform:translate(0,-3px);
    transform:translate(0,-3px)
  }

  12% {
    -webkit-transform:translate(0,3px);
    transform:translate(0,3px)
  }

  16% {
    -webkit-transform:translate(0,-3px);
    transform:translate(0,-3px)
  }

  20% {
    -webkit-transform:translate(0,3px);
    transform:translate(0,3px)
  }

  22% {
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
  }
}

@keyframes vertical {
  0% {
    -webkit-transform:translate(0,-3px);
    -ms-transform:translate(0,-3px);
    transform:translate(0,-3px)
  }

  4% {
    -webkit-transform:translate(0,3px);
    -ms-transform:translate(0,3px);
    transform:translate(0,3px)
  }

  8% {
    -webkit-transform:translate(0,-3px);
    -ms-transform:translate(0,-3px);
    transform:translate(0,-3px)
  }

  12% {
    -webkit-transform:translate(0,3px);
    -ms-transform:translate(0,3px);
    transform:translate(0,3px)
  }

  16% {
    -webkit-transform:translate(0,-3px);
    -ms-transform:translate(0,-3px);
    transform:translate(0,-3px)
  }

  20% {
    -webkit-transform:translate(0,3px);
    -ms-transform:translate(0,3px);
    transform:translate(0,3px)
  }

  22% {
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0)
  }
}

.faa-vertical.animated,.faa-vertical.animated-hover:hover,.faa-parent.animated-hover:hover > .faa-vertical {
  -webkit-animation:vertical 2s ease infinite;
  animation:vertical 2s ease infinite
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
  }

  6% {
    -webkit-transform:translate(5px,0);
    transform:translate(5px,0)
  }

  12% {
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
  }

  18% {
    -webkit-transform:translate(5px,0);
    transform:translate(5px,0)
  }

  24% {
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
  }

  30% {
    -webkit-transform:translate(5px,0);
    transform:translate(5px,0)
  }

  36% {
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0)
  }

  6% {
    -webkit-transform:translate(5px,0);
    -ms-transform:translate(5px,0);
    transform:translate(5px,0)
  }

  12% {
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0)
  }

  18% {
    -webkit-transform:translate(5px,0);
    -ms-transform:translate(5px,0);
    transform:translate(5px,0)
  }

  24% {
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0)
  }

  30% {
    -webkit-transform:translate(5px,0);
    -ms-transform:translate(5px,0);
    transform:translate(5px,0)
  }

  36% {
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0)
  }
}

.faa-horizontal.animated,.faa-horizontal.animated-hover:hover,.faa-parent.animated-hover:hover > .faa-horizontal {
  -webkit-animation:horizontal 2s ease infinite;
  animation:horizontal 2s ease infinite
}

.fab {
  cursor: pointer;
}
.fab-backdrop {
  color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
  transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
  opacity: 0;
  transform: rotate(225deg);
}
.fab-secondary {
  opacity: 0;
  transform: rotate(-225deg);
}
.fab.active .fab-secondary {
  opacity: 1;
  transform: rotate(0);
  margin-top: -2px;
}


