.no-spacing{padding-right:15px!important;padding-left:15px!important;margin-right:10px!important;margin-left:24px!important;}
.event-content{margin:0;padding:5px;font-size:12px!important;line-height:1.7em;color:#969090!important;letter-spacing:1px;font-family:'Raleway', sans-serif;}
.event-date{border-right:1px solid #d7cece;margin-top:15px;font-weight:bold;text-align:center;padding-right:10px;}
.timeline-img{margin-left:15px;}
.speakers-headline{color:#e75848!important;font-weight:bold;font-size:14px!important;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color:white!important;cursor:default!important;background-color:orange!important;border:1px solid #ddd!important;border-bottom-color:transparent!important;}
.nav-tabs>li>a{margin-right:2px!important;line-height:1.42857143!important;border:1px solid transparent!important;border-radius:4px 4px 0 0!important;color:black!important;padding-left:1.5em!important;padding-right:1.5em!important;font-size:18px!important;}
.double-quote1{color:#656464!important;font-size:11px;padding:6px;}
#social_side_links{position:fixed;top:250px;left:0;padding:0;list-style:none;z-index:99;}
#social_side_links li a{display:block;}
#social_side_links li a img{display:block;max-width:50px;padding:10px;-webkit-transition:background .2s ease-in-out;-moz-transition:background .2s ease-in-out;-o-transition:background .2s ease-in-out;transition:background .2s ease-in-out;}
a:hover{text-decoration:none!important;}
#navigate{cursor:pointer;}
.thumbnail-spacing{padding:10px!important;}
.keynote-border{width:100%;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);background:white;}
.register-header-btn{background:#f39c12;border:0px;color:white;padding:21px 21px 21px 21px;}
.faa-float{color:black!important;margin-right:10px!important;}
.pad{border-left:2px solid grey;}
.travel-content{font-size:1.2em!important;color:#4a4646!important;letter-spacing:1px;font-family:'Raleway', sans-serif;}
.travel-background{background-image:url('../img/travel.jpg');width:100%;height:375px;background-size:cover;}
.travel-footer{color:white!important;}
.download-pdf{background:#f39c12;color:white!important;text-decoration:none!important;padding:8px;border-radius:5px;font-weight:bold;border:0px;letter-spacing:1px;}
.bigger{font-size:22px!important;}
.bigger-space{margin-left:72.7%!important;}
.collaborators-heading{margin-left:0.4em;}
@media(max-width:375px){.logo{margin-left:-28px!important;}
}
@media(max-width:450px){.logo{margin-left:-28px!important;}
}
@media(max-width:600px){.logo{margin-left:-28px!important;}
}
#newsletter-background{background:url(../img/uu.jpg);}
#modal1{cursor:pointer;}
.testimonial{margin:0 20px 40px;}
.testimonial .title{font-size:14px;font-weight:700;color:#e74c3c;text-transform:capitalize;letter-spacing:1px;margin:0 0 5px 0;}
.testimonial .testimonial-icon{width:50px;height:45px;background:#e74c3c;text-align:center;font-size:22px;color:#fff;line-height:42px;position:absolute;top:37px;left:-19px;}
.testimonial .testimonial-icon:before{content:"";border-bottom:16px solid #e74c3c;border-left:18px solid transparent;position:absolute;top:-16px;left:1px;}
.testimonial{margin:0 20px 40px;}
.testimonial .testimonial-content{padding:35px 25px 35px 50px;margin-bottom:35px;background:#f1f0f0;border:1px solid #f1f0f0;position:relative;}
.testimonial .post{display:block;font-size:14px;color:#6f6a6a;}
.testimonial .testimonial-content:after{content:"";display:inline-block;width:20px;height:20px;background:#f1f0f0;position:absolute;bottom:-10px;left:22px;transform:rotate(45deg);}
.collaborators-quotes{border:1px solid #e4dede;padding:9px;border-radius:10px;}
.anchor-white{color:white!important}
.agile-about-left{text-align:justify!important;}
.facebook{background:#3b5998;width:25px;height:25px;margin:0px;padding:-17px;border-radius:4px;text-align:center;}
.twitter{background:#1da1f2;width:25px;height:25px;margin:2px;padding:-17px;border-radius:4px;text-align:center;}
.linkedin{background:#0077b5;width:25px;height:25px;margin:2px;padding:-17px;border-radius:4px;text-align:center;}
.youtube{background:#db4437;width:25px;height:25px;margin:2px;padding:-17px;border-radius:4px;text-align:center;}
h5.title-w3{font-size:28px!important;text-transform:uppercase!important;text-align:center;margin-bottom:1.0em;color:#000;}
@media(max-width:600px){h5.title-w3 label{width:0px;height:0px;background:transparent!important;vertical-align:middle;margin:0px;}
}
@media(max-width:1000px){h5.title-w3 label{width:0px;height:0px;background:transparent!important;vertical-align:middle;margin:0px;}
}
.past-speakers-img{box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.past-designation{font-size:12px!important;width:100%!important;padding:0px!important;}
.past-speakers-contents{width:100%;text-align:center;}
.bottom-right{font-size:16px;letter-spacing:1px;position:absolute;bottom:0px;right:28%;color:#ffffff;background:#0a0a0a;padding:12px;}
figure{position:relative;width:450px;height:270px;margin:0;padding:0;background:#fff;overflow:hidden;}
figure:hover+span{bottom:-36px;opacity:1;}
.hover09 figure img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;}
.hover09 figure:hover img{-webkit-transform:scale(1.3);transform:scale(1.3);}
.orange-font{color:#3a80bc;font-size:1.0em!important;font-style:italic!important;}
.btn-view{background:#f39c12;text-align:center;color:white;font-weight:bold;padding:0.5em;width:44%;}
.core-ending{color:blue;text-decoration:underline;}
.modal1{cursor:pointer;}
#top-header-strip{background:#f39c12!important;padding-top:0.9em;padding-bottom:1.7em;}
.number{color:white!important;letter-spacing:1px;font-size:0.9em;line-height:0.5em;font-weight:bold;}
.title-color{color:#f39c12!important;}
.row.no-gutter{margin-left:0;margin-right:0;}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child){padding-right:0;padding-left:0;}
.core-quote1{color:black!important;padding:10px;}
.home-icon{color:white!important;}
.core-quote{font-size:1.4em;color:black;text-align:center;margin:.5em 0;font-weight:300;letter-spacing:1px;}
.view-more{color:white!important;font-size:23px;font-weight:bold;text-decoration:none!important;}
.team-contents p{background:rgba(211, 210, 210, 0.25);width:100%;height:337px;color:black;padding:25% 7% 7% 7%;text-align:center;}
.team-contents p:hover{background:#f39c12;color:white!important;transition:0.6s;transform:rotateY(0deg);position:relative;transition:0.9s;}
.team-contents p b{margin-bottom:10px;display:block;}
.keynotes-spacing{margin-left:15px;margin-right:15px;}
.counter-icons{font-size:47px!important;color:white!important;}
.counter-contents{line-height:32px;text-align:center;font-size:18px!important;font-weight:bold;letter-spacing:1px;}
h3 + .divider{margin-top:20px;}
.divider-default{background:#f39c12!important;}
.divider{margin:auto;border:0;font-size:0;line-height:0;height:3px;max-width:23%;width:100%;margin-top:1.5%;}
.logo{margin-top:0.2em;}
#slider-text{background:rgba(36, 35, 35, 0.59);padding-left:29px;width:52%;}
.Register-btn{margin-left:9%}
.row{margin-right:0px!important;margin-left:0px!important;}
.counter-1{color:#white!important;}
.card-text{text-align:center;color:white;font-size:20px;padding:10px;}
.card-icon{font-size:34px;text-align:center;color:white;padding:0%;}
.back-box1{padding:16px;}
.back-box2{padding:16px;}
.back-box3{padding:16px;}
.back-box4{padding:16px;}
.m_nav_ham{width:47px;height:7px;background:#f39c12!important;margin:5px auto;}
.what-grid1 h4, .what-grid h4{padding-top:22px;font-size:1.2em;color:#000;letter-spacing:1px;text-transform:uppercase;padding-left:16px;}
.img-greyscale{filter:gray;-webkit-filter:grayscale(1);-webkit-transition:all .8s ease-in-out;}
.img-greyscale:hover{filter:none;-webkit-filter:grayscale(0);-webkit-transform:scale(1.01);}
h3.w3l-title{color:#29293a!important;font-size:2.1em!important;position:relative;text-align:center;text-transform:uppercase;}
.speaker-div{}
.speaker-text{padding:0px;}
.speaker-heading{font-size:21px;text-align:center;padding-bottom:7px;background:#2980b9;line-height:45px;color:white;letter-spacing:1px;}
h3.w3l-title:after{content:'';background:none!important;height:0px!important;width:7%;position:absolute;top:56%;left:49%;}
.dropdown-submenu .dropdown-menu{position:relative;top:0;left:100%;padding-left:10px!important;margin-top:-1px;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;}

